<MarketplaceDetails>
  <SmallAppTile>store300.png</SmallAppTile>
  <ScreenShots>Update1.png;Update2.png;Update3.png;Update4.png;5.png;6.png;7.png;8.png;</ScreenShots>
  <ScreenShotsWXGA>Update11.png;Update22.png;Update33.png;Update44.png;55.png;66.png;77.png;88.png;</ScreenShotsWXGA>
  <ScreenShots720P>Update111.png;Update222.png;Update333.png;Update444.png;555.png;666.png;777.png;888.png;</ScreenShots720P>
</MarketplaceDetails>